<section class="library">
	<ul>
		{% for movie in movies %}
			<li class="library__item">
				<img src="https://m.media-amazon.com/images/M/{{movie.cover}}">
				<div>
					<h4>{{movie.title}}</h4>
					<p>{{movie.year}}, {{movie.duration}} min</p>
					<p>{{movie.genres | join(', ')}}</p>
				</div>
			</li>
		{% endfor %}
	</ul>
</section>