{% macro playlistItem (movie = {}, open = false) %}
	<li class="playlist__item{% if open %} playlist__item--open{% endif %}">
		<div class="playlist__item__splash" style="background-image: url({{movie.splash}})"></div>

		<div class="playlist__item__tab">
			<span>{{movie.title}}</span>
		</div>

		<div class="playlist__item__content">
			<div>
				<img src="https://m.media-amazon.com/images/M/{{movie.cover}}" width="320">
				<h3>{{movie.title}}</h3>
				<p>{{movie.year}}, {{movie.duration}} min</p>
				<p>{{movie.genres | default([]) | join(', ')}}</p>
			</div>
		</div>
	</li>
{% endmacro %}

<main class="playlist">
	<ol>	
		{% for movie in playlist %}
			{{playlistItem(movie, loop.last)}}
		{% endfor %}

		<li class="playlist__item playlist__item--add">
			<div class="playlist__item__splash"></div>

			<div class="playlist__item__tab">
				<span>More +</span>
			</div>

			<div class="playlist__item__library">	
				{% include './library.njk' %}
			</div>
		</li>
	</ol>

	<template>
		{{playlistItem()}}
	</template>
</main>