html, 
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "PF Din Mono", courier new;
	line-height: var(--line-height);
	color: var(--c-foreground);
	font-size: 20px;
	position: relative;
	overflow: auto;
}

h2,
h3,
h4 {
	margin: 0.5em 0 0.25em;
	font-weight: 500;
}

h2,
h3 {
	font-size: 3em;
}

h4 {
	font-size: 1.6em;
}

p {
	margin: 0.5em 0;
}

img {
	vertical-align: bottom;
}

button {
	font: inherit;
	color: inherit;
	border: 2px solid currentColor;
	border-radius: 3px;
	padding: 0.5em 1em;
	background: transparent;
}