html, 
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "PF Din Mono", courier new;
	line-height: var(--line-height);
	color: var(--c-foreground);
	font-size: 20px;
	position: relative;
	overflow: auto;
}

h2,
h3,
h4 {
	margin: 0.5em 0 0.25em;
	font-weight: 500;
}

h2,
h3 {
	font-size: 3em;
}

h4 {
	font-size: 1.6em;
}

p {
	margin: 0.5em 0;
}

img {
	vertical-align: bottom;
	max-width: 100%;
}

label {
	margin: 0 0.5em 0 1em;
}

label::after {
	content: ":";
}

label:first-child {
	margin-left: 0;
}

button,
select,
input {
	font: inherit;
	color: inherit;
}

button {
	border: 2px solid currentColor;
	border-radius: 3px;
	padding: 0.5em 1em;
	background: transparent;
}

input[type=search],
select {
	background: transparent;
	padding: 0.25em 0.25em 0.25em 0;
	border: solid currentColor;
	border-width: 0 0 2px;
}

input[type=search]:focus,
select:focus {
	border-color: blue;
	outline: none;
}