.library {
	--space: 4em;
	overflow: auto;
	position: relative;
}

.library form {
	position: sticky;
	align-self: stretch;
	top: 0;
	padding: 1em var(--space) 0.5em;
	margin-bottom: 1.5em;
	background: var(--c-background--dark);
	text-align: center;
}

.library form::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	background: linear-gradient(
			rgba(var(--c-background--dark-props), 1), 
			rgba(var(--c-background--dark-props), 0)
		);
	height: 1.5em;
}

.library ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0;
	padding: 0;
	column-gap: var(--space);
	row-gap: var(--space);
}

.library__item {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	min-height: 33vh;
}

.library__item > img {
	margin-right: 1em;
	width: 240px;
}

.library__item > div {
	width: 240px;
}

.library__item p:last-child {
	margin-bottom: 0;
}

.library.panel .panel__content {
	justify-content: flex-start;
	padding: var(--space) calc(var(--space) * 2);
}