.panel {
	--tab-width: 3.2em;
	display: flex;
	border-left: 1px solid var(--c-border);
	position: relative;
	overflow: hidden;
	min-width: var(--tab-width);
	box-sizing: border-box;
}

.panel__background {
	--blur: 10px;
	--bleed: calc(var(--blur) * 2);
	display: block;
	position: absolute;
	left: calc(-1 * var(--bleed));
	top: calc(-1 * var(--bleed));
	width: calc(100% + (2 * var(--bleed)));
	height: calc(100% + (2 * var(--bleed)));
	max-width: none;
	object-fit: cover;
	object-position: center;
	filter: blur(var(--blur)) brightness(88%);
}

.panel__container {
	display: flex;
}

.panel__tab {
	display: flex;
	flex-direction: column;
	position: relative;
	width: var(--tab-width);
	box-sizing: border-box;
	padding: 1em 0;
	align-items: center;
	cursor: pointer;
}

.panel__tab > strong {
	margin-bottom: 0.5em;
	font-weight: 700;
}

.panel__tab > span {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-align: right;
}

.panel__tab > span:first-of-type {
	flex-grow: 1;
}

.panel__content {
	flex-grow: 1;
	position: relative;
	padding-right: var(--tab-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: var(--tab-width);
}

.panel--open {
	flex-grow: 1;
	min-width: calc(100vw - (6 * var(--tab-width)));
	background-color: var(--c-background--dark);
}

.panel--open .panel__background ~ .panel__tab,
.panel--open .panel__background ~ .panel__content {
	text-shadow: var(--c-content-shadow);
	color: var(--c-background);
}

.panel--open .panel__background ~ .panel__tab > span {
	text-shadow: var(--c-content-shadow--reversed);
}

.panel--open .panel__background ~ .panel__content img {
	box-shadow: var(--c-image-shadow);
}

.panel--open .panel__background ~ .panel__content button {
	box-shadow: var(--c-image-shadow), inset var(--c-image-shadow);
	text-shadow: inherit;
}

.panel:not(.panel--open) .panel__background,
.panel:not(.panel--open) .panel__content {
	display: none;
}