.playlist {
	--tab-width: 3.2em;
	--content-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	height: calc(100vh - 45px);
}

.playlist > ol {
	display: flex;
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 100%;
}

.playlist__item {
	display: flex;
	border-left: 1px solid var(--c-border);
	position: relative;
	overflow: hidden;
	min-width: var(--tab-width);
	box-sizing: border-box;
	counter-increment: item-number;
}

.playlist__item__splash {
	--blur: 10px;
	--bleed: calc(var(--blur) * -2);
	position: absolute;
	left: var(--bleed);
	right: var(--bleed);
	top: var(--bleed);
	bottom: var(--bleed);
	background-size: cover;
	background-position: center;
	filter: blur(var(--blur)) brightness(88%);
	background-color: rgba(0, 0, 0, .1);
}

.playlist__item__tab {
	display: flex;
	flex-direction: column;
	position: relative;
	width: var(--tab-width);
	box-sizing: border-box;
	padding: 1em 0;
	align-items: center;
}

.playlist__item__tab::before {
	content: '#' counter(item-number);
	margin-bottom: 0.5em;
	font-weight: 700;
}

.playlist__item__tab > span {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.playlist__item__content,
.playlist__item__library {
	flex-grow: 1;
	position: relative;
}

.playlist__item__content {
	display: flex;
	padding-right: var(--tab-width);
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-shadow: var(--content-shadow);
}

.playlist__item__content > div {
	margin: 0 auto;
	max-width: 30em;
}

.playlist__item__library {
	overflow: auto;
}

.playlist__item__library h3 {
	text-align: center;
}

.playlist__item--open {
	flex-grow: 1;
	min-width: calc(100vw - (6 * var(--tab-width)));
	color: var(--c-background);
}

.playlist__item--open:not(.playlist__item--add) .playlist__item__tab::before {
	text-shadow: var(--content-shadow);
}

.playlist__item--open:not(.playlist__item--add) .playlist__item__tab > span {
	text-shadow: -2px -2px 3px rgba(0, 0, 0, 0.4);
}

.playlist__item:not(.playlist__item--open) .playlist__item__splash,
.playlist__item:not(.playlist__item--open) .playlist__item__content,
.playlist__item:not(.playlist__item--open) .playlist__item__library {
	display: none;
}

.playlist__item--add.playlist__item--open {
	min-width: calc(100vw - (2 * var(--tab-width)));
	color: var(--c-foreground);
}

.playlist__item--add .playlist__item__tab::before {
	opacity: 0.4;
}

.playlist__item--add .playlist__item__tab > span {
	flex-grow: 1;
	text-align: center;
	text-indent: 1.7em;
}