.playlist > ol {
	display: flex;
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 100%;
}

.playlist__item__content {
	text-align: center;
	max-width: 30em;
}

.playlist__item__content > button {
	margin-top: 1.5em;
}

.playlist__item__content > input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}