<!doctype html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="/styles/main.css">
	</head>
	<body>
		{% block body %}
		{% endblock %}
		<script async type="module" src="/scripts/main.js"></script>
	</body>
</html>