.library {
	--space: 2em;
}

.library .panel__content {
	display: block;
	padding: 0 var(--space);
	overflow-y: scroll;
}

.library form {
	position: sticky;
	align-self: stretch;
	top: 0;
	padding: 1em;
	margin-top: var(--space);
	background: var(--c-background--dark);
	text-align: center;
	z-index: 1;
}

.library ul {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 22em);
	grid-auto-rows: 33vh;
	margin: 0;
	padding: 0 0 var(--space);
	column-gap: var(--space);
	row-gap: var(--space);
}

.library__item {
	display: grid;
	grid-template-columns: 2fr 3fr;
	column-gap: 1em;
	align-items: end;
}

.library__item__cover:empty::before {
	content: "??????????????? ??????????????? ??????????????? ??????????????? ??????????????? ??????????????? ??????????????? ??????????????? ??????????????? ???????????????";
	display: block;
}

.library__item__cover > img {
	width: 100%;
}


.library__item__actions {
	margin-top: 1em;
}

.library__item__actions > button + button {
	margin-left: 0.5em;
}