.playlist {
	display: contents;
}

.playlist__item__content {
	text-align: center;
	max-width: 30em;
}

.playlist__item__content > img {
	height: 24em;
	max-height: 45vh;
}

.playlist__item__content > button {
	margin: 1em auto 0;
	display: block;
}

.playlist__item__content > input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.playlist__item__remove {
	position: absolute;
	right: 0;
	top: 0;
}
